<form [formGroup]="bookForm">
    <p class="text-center">Cadastro de novos livros:</p>
    <div>
        <div class="input-group mb-3">
            <input formControlName="name" class="form-control" type="text" placeholder="Título do livro:"
                aria-label="Título do livro" aria-describedby="basic-addon2">
            <span *ngIf="!bookForm.get('name')?.valid && bookForm.get('name')?.touched">O campo "título" é
                obrigatório.</span>
        </div>
        <div>

            <div class="input-group mb-3">
                <input formControlName="author" class="form-control" type="text" placeholder="Nome do autor:"
                    aria-label="Nome do autor" aria-describedby="basic-addon2">
            </div>
            <div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="price" class="form-control" type="text" placeholder="R$:"
                    aria-label="Quantidade" aria-describedby="basic-addon2" [allowNegativeNumbers]="false" prefix="R$" mask="0*.00" thousandSeparator="" decimalMarker=",">
            </div>
        </div>
        <div>
            <div class="input-group mb-3">
                <input formControlName="quantity" class="form-control" type="text" placeholder="Quantidade:"
                    aria-label="Quantidade" aria-describedby="basic-addon2" [allowNegativeNumbers]="false" mask="0*">
            </div>
        </div>
        <div>
            <div class="input-group mb-3">
                <input formControlName="category" class="form-control" type="text" placeholder="Categoria:"
                    aria-label="Categoria" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="input-group mb-3">
            <input formControlName="img" class="form-control" type="file" placeholder="Imagem:"
                aria-label="Imagem" aria-describedby="basic-addon2" (change)="onFileChange($event)">
        </div>
    </div>
</form>
<button (click)="create()" [disabled]="!bookForm.valid">Salvar</button>